.App {
    background-image: url(./Images/bg.jpg);
    background-size: cover;
    height: 100vh;
}

.login-registration-container {
    width: 920px;
}
.signup .form-control:focus {
    box-shadow: none;
}
.login .form-control:focus {
    box-shadow: none;
}
.signup .form-floating > label {
    padding-left: 0;
}
.login .form-floating > label {
    padding-left: 0;
}
